
<div class="posts_div" id="<%= dom_id post %>">
  <p style="text-align: center;">
    <strong>First Name:</strong>
    <%= post.first_name %>
  </p>

  <p style="text-align: center;">
    <strong>Last Name:</strong>
    <%= post.last_name %>
  </p>

  <p style="text-align: center;">
    <strong>Age:</strong>
    <%= post.age %>
  </p>

  <p style="text-align: center;">
    <strong>Phone Number:</strong>
    <%= post.phone %>
  </p>

  <p style="text-align: center;">
    <strong>Status:</strong>
    <%= post.status %>
  </p>

</div>
